html, body {
    margin: 0;
    height: 100%;
}

header, main {
    width: 100%;
    text-align: center;
    z-index: 50;
    margin: auto;
    font-family: "Comic Sans MS", "Trebuchet MS", sans-serif;
    position: absolute;
    color: #00b300;
    display: block;
}

p {
    z-index: 50;
    margin: auto;
    font-family: "Comic Sans MS", "Trebuchet MS", sans-serif;
    position: absolute;
    color: #00b300;
    display: block;
}

canvas {
   width: 100%;
   height: 100%;
   display: block;
    background-color: #000;
}